@import "../../../util/colors";

.block9 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 290px;
  .blockImg,.blockText {
    max-width: 50%;
  }
  .blockText {
    font-family: Futura Md BT,sans-serif;
    font-size: 48px;
    // font-style: normal;
    font-weight: 400;
    // line-height: normal;
    text-transform: uppercase;
    .textHeader {
      margin-bottom: 32px;
      .textRed {
        color: $colorRed;
      }
    }
    .textSmall {
      font-family: Futura Bk BT,sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
    }
  }
}







@import "./Block9Media.module";