.block2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .bigText {
    .wrapper {
      // outline: 1px solid red;
      margin-top: 170px;
      margin-bottom: 80px;
      width: 611px;
      height: 270px;
      text-align: center;
      // font-family: Futura Md BT;
      font-size: 64px;
      // font-style: normal;
      font-weight: 400;
      line-height: 100px; //* 156.25% */;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      span {
        position: relative;

        img {
          width: 72px;
          height: 72px;
          object-fit: cover;
          position: absolute;
        }

        &:first-child {
          img {
            right: 10px;
            top: 25px;
          }
        }

        &:last-child {
          display: flex;
          justify-content: flex-end;
          padding-right: 20px;

          img {
            left: 20px;
            top: 5px;
          }
        }
      }

    }
  }
  .smallText{
    // outline: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    // max-width: 1064px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    // font-weight: 400;
    line-height: 48px; //* 300% */;
    p {
      margin-bottom: 80px;
      font-family: "Futura Bk BT", sans-serif;
    }
  }
  .wrapperScarp {
    max-width: 100%;
    position: absolute;
    bottom: -360px;
    left: 0;
    z-index: -1 ;
    img{}
  }
}

@import "./Block2Media.module";