/*fonts.sass*/

// Futura Md BT fonts\futuraMediumBT\futuraMediumBT.woff
@font-face {
  font-family: 'Futura Md BT';
  //src: local('futuraMediumBT'), url('../fonts/futuraMediumBT/futuraMediumBT.woff') format('woff');
  src: local('futuraMediumBT'), url('./futuraMediumBT/futuraMediumBT.woff') format('woff');
}

/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_61656">Text with this font applied</p> */
//.fontsforweb_fontid_61656 {
//  font-family: 'futuraMediumBT' !important;
//}
// Futura Md BT end

// font-family: 'Futura XBlk BT', sans-serif
@import url('https://fonts.cdnfonts.com/css/futura-xblk-bt');
//

// Futura Bk BT fonts\FuturaBkBTBook\FuturaBkBTBook.ttf
@font-face {
  font-family: 'Futura Bk BT';
  src: local('futuraMediumBT'), url('../fonts/FuturaBkBTBook/FuturaBkBTBook.ttf');
}

// Futura Bk BT end

// Futura LtCn BT fonts\FuturaLightCondensedBT\FuturaLightCondensedBT.ttf
@font-face {
  font-family: 'Futura LtCn BT';
  src: local('Futura LtCn BT'), url('../fonts/FuturaLightCondensedBT/FuturaLightCondensedBT.ttf');
}

// Futura LtCn BT end

// Futura Bk BT fonts\FuturaBkBT\futurabkbtrusbyme_book.otf
@font-face {
  font-family: 'Futura Bk BT';
  src: local('Futura Bk BT'), url('../fonts/FuturaBkBT/futurabkbtrusbyme_book.otf');
}

// Futura Bk BT end

// Futura Lt BT fonts\FuturaLtBT\Futura Lt BT.ttf
@font-face {
  font-family: 'Futura Lt BT';
  src: local('Futura Lt BT'), url('../fonts/FuturaLtBT/FuturaLtBT.ttf');
}

// Futura Lt BT end

// Futura XBlkCnIt BT fonts\FuturaXBlkCnItBT\FuturaExtraBlackCondensedItalicBT.ttf
@font-face {
  font-family: 'Futura XBlkCnIt BT';
  src: local('Futura XBlkCnIt BT'), url('../fonts/FuturaXBlkCnItBT/FuturaExtraBlackCondensedItalicBT.ttf');
}

// Futura XBlkCnIt BT end

// Futura Hv BT fonts\FuturaHvBT\FuturaHeavyBT.ttf
@font-face {
  font-family: 'Futura Hv BT';
  src: local('Futura Hv BT'), url('../fonts/FuturaHvBT/FuturaHeavyBT.ttf');
}

// Futura Hv BT end

// Futura LT fonts\FuturaLT\FuturaLT.ttf
@font-face {
  font-family: 'Futura LT';
  src: local('Futura LT'), url('../fonts/FuturaLT/FuturaLT.ttf');
}

// Futura LT end