@import "../../../../../util/colors";
.wrapper{
  position: relative;
  display: flex;
  //overflow: hidden;
}
.wrapperImg{
  position: relative;
  img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    transform: rotate(-5deg);
  }
  .wrapSvg{
    position: absolute;
    bottom: -20px;
    //bottom: 50px;
    left: 65px;
    svg{
      width: 100%;
    }
  }
  .add{
    position: absolute;
    right: 25%;
    bottom: 50px;
    width: 56px;
    height: 56px;
    background-color: $colorWhite;
    border-radius: 50%;
    //position: relative;
    filter: drop-shadow(2px 2px 2px white);
    transition: 0.5s;
    cursor: pointer;
    span{
      position: absolute;
      top: calc(50% - 2px);
      left: calc(50% - 12px);
      width: 24px;
      height: 4px;
      background-color: $colorBlack;
      transition: 0.5s;
      &:last-child{
        transform: rotate(90deg);
      }
    }
    &:hover{
      filter: drop-shadow(1px 1px 10px white);
    }
    &:hover>span{
      transform: rotate(180deg);
      &:last-child{
        transform: rotate(270deg);
      }
    }

  }
}