@media screen and (max-width: 1400px) {
.wrapperSlider{
  flex-direction: column;
.wrapperPrevNext{
  justify-content: center;
}
}
  .wrapperSlider .headerSlider{
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 576px) {

}
@media screen and (max-width: 380px) {

}