
@media screen and (max-width: 992px) {
  footer {
    .wrapper {
      flex-direction: column;
      .blockLeft,.blockRight {
        width: 100%;
      }
      .blockLeft {
        margin-bottom: 80px;
        .blockLogo {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  footer {
    .wrapper {
      .blockRight {
        display: flex;
        flex-direction: column;
        .wrapUlL {
          margin-right: 0;
          margin-bottom: 20px;
          ul {
            margin-bottom: 20px;
          }
        }
      }
    }
    .wrapCopyright {
      flex-direction: column-reverse;
      justify-content: center;
      .data {
        display: flex;
        justify-content: center;
      }
      .social {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  footer {
    .wrapper {
      .blockLeft {
        .blockSendEmail {
          width: 100%;
        }
      }
    }
  }
}