
@media screen and (max-width: 992px) {
  footer {
    .wrapper {
      flex-direction: column;
      .blockLeft,.blockRight {
        width: 100%;
      }
      .blockLeft {
        margin-bottom: 80px;
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        align-items: center;

        .blockLogo {
          //display: flex;
          //justify-content: flex-end;
        }
      }
    }
    .wrapCopyright {
      flex-direction: column-reverse;
      justify-content: center;
      .data {
        display: flex;
        justify-content: center;
      }
      .social {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-around;
      }
      .romanchykov{
        justify-content: center;
        margin-bottom: 50px;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  footer {
    .wrapper {
      .blockRight {
        display: flex;
        flex-direction: column;
        .wrapUlL {
          margin-right: 0;
          margin-bottom: 20px;
          ul {
            margin-bottom: 20px;
          }
        }
      }
    }
    .wrapCopyright{
      .romanchykov{
        font-size: 1.6em;
      }
    }


  }
}
@media screen and (max-width: 480px) {
 footer {
   
     .wrapCopyright {
       .romanchykov {
         flex-direction: column;
         align-items: center;
         a:last-child{
          margin-left: 0;
          margin-top: 20px;
         }
       }
     }
  
 }
}