@import "../../../util/colors";

footer {
  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 80px 0 80px 0;
    .blockLeft,.blockRight {
      width: 50%;
    }
    .blockLeft {
      font-family: Futura LT,sans-serif;
      text-transform: capitalize;
      .textHeader {
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px; //* 133.333% */
        margin-bottom: 32px;
      }

    }
    .blockRight {
      display: flex;
      .wrapUlL {
        margin-right: 70px;
        display: flex;
        flex-wrap: wrap;
        ul {
          width: 50%;
        }
      }
      ul {
        font-weight: 400;
        line-height: normal;
        span.category {
          display: inline-block;
          font-family: Futura XBlkCnIt BT,sans-serif;
          font-size: 24px;
          font-style: italic;
          margin-bottom: 24px;
        }
        li {
          margin-bottom: 16px;
          a {
            font-family: Futura LtCn BT,sans-serif;
            font-size: 20px;
            font-style: normal;
          }
        }
      }
    }
  }
  .wrapCopyright {
    display: flex;
    //justify-content: space-between;
    justify-content: space-around;
    gap: 20px;
    padding: 32px 0;
    flex-wrap: wrap;
    .data {
      font-family: Futura Bk BT,sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      svg {
        margin-left: 8px;
      }
    }
    .romanchykov{
      display: flex;
      font-size: 1.8em;
      //margin-top:20px ;
      //margin-bottom:20px ;
    }
    .social {
      a {
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}








@import "./FooterMedia.module";