@media screen and (max-width: 1320px) {
  .block7 {
    flex-wrap: wrap; // column-gap: 20px
    img {
      height: 50px;
      margin-bottom: 40px;
    }
  }
}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 576px) {
  .block7 {
    flex-wrap: wrap;
    row-gap: 40px;
  }
}
@media screen and (max-width: 380px) {

}