@import "../../../util/colors";

.block5 {
  display: flex;
  justify-content: space-between;
  // align-items: space-between;
  margin-bottom: 240px;
  .blockImg {
    // width: 375px;
    // height: 375px;
    // outline: 1px solid red;
    position: relative;
    margin-left: 20px;
    margin-right: 160px;
    display: flex;
    align-items: center;
    span.bgBluer,span.bgSquare{
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    span.bgBluer{
      width: 100%;
      height: 100%;
      border-radius: 111px;
      background: conic-gradient(from 9deg at 46.78% 51.75%, #BA0000 0deg, #BA0000 360deg);
      mix-blend-mode: hard-light;
      filter: blur(125px);
    }
    span.bgSquare{
      top: 10%;
      left: 15%;
      width: 70%;
      height: 80%;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.60);
      mix-blend-mode: soft-light;
      backdrop-filter: blur(2px);
    }
  }
  .blockDesk{
    line-height: normal;
    .textHeader{
      display: flex;
      font-size: 64px;
      margin-bottom: 24px;
    }
    .textSmall{
      display: flex;
      font-family: Futura Bk BT ,sans-serif;
      font-size: 24px;
      margin-bottom: 40px;
    }
  }
}


@import "./Block5Media.module";