@import '../../../util/colors';

.btn {
  background-color: transparent;
  //border: none;
  color: $colorWhite;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid $colorWhite;
  border-radius: 36px;
  position: relative;
  overflow: hidden;
  font-weight: 400;
  span {
    position: relative;
    z-index: 1;
  }
  svg {
    position: relative;
    margin-left: 8px;
    z-index: 1;
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ba000030;
    top: 100%;
    left: 0;
    z-index: 0;
    transition: 0.5s;
  }
  &:hover {
    &::before {
      top: 0
    }
  }
}
.btnSmall {
  padding: 6px 16px;
  font-size: 12px;
  // font-style: normal;
  line-height: 0;
}
.btnMiddle {
  padding: 16px 47px 16px 24px;
  font-size: 16px;
  line-height: 16px;
}
.btnLarge {
  padding: 18px 47px 18px 24px;
  font-size: 16px;
  line-height: 12px;//* 75% */
}
.btnSendMail {
  background-color: $colorWhite;
  padding: 16px 40px;
  color: $colorBlack;
  border-radius: 80px;
}