@import '../../../util/colors';
.wrapperBag{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.63);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  .bag{
    background-color: #fff;
    width: 80%;
    height: 80%;
    padding: 10px 20px;
    overflow-y: scroll;
    border-radius: 12px;
    .wrapperClose{
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;
      .blockClose{
        width: 40px;
        height: 40px;
        //outline: 1px solid red;
        position: relative;
        cursor: pointer;
        span{
          top: calc(50% - 2px);
          left: 0;
          position: absolute;
          display: inline-block;
          width: 40px;
          height: 4px;
          background-color: black;
          border-radius: 10px;
          transition: 0.5s ease-in-out;
          &:first-child{
            transform: rotate(45deg);
          }
          &:last-child{
            transform: rotate(-45deg);

          }
        }
        &:hover{
          span{

            &:first-child{
              transform: rotate(55deg);
            }
            &:last-child{
              transform: rotate(-55deg);

            }
          }
        }
      }
    }
    .wrapperItem{
      //display: flex;
      //justify-content: space-between;
      //align-items: center;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      column-gap: 5px;
      color:black;
      padding:10px 20px;
      box-shadow: 1px 1px 5px black;
      margin-bottom: 10px;
      border-radius: 12px;
        div{
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      .titleItem,.price{
        text-shadow: 1px 1px 1px black;
      }
      .imgItem{
        //width: 40px;
        //height: 40px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        grid-column-start: 1;
          img{
            width: 100%;
          }
      }
      .titleItem{
        font-size: 1.6em;
        line-height: 30px;
        grid-column: 2/6;
        display: flex;
        flex-direction: column;
        .size {
          .text{
            margin-right: 10px;
            font-size: 1em;
            font-weight: 400;
            color: black;
          }
        }
      }
      .itemColor{
        display: flex;
        flex-direction: column;
        grid-column-start: 6;
        .blockColor{
          border-radius: 50%;
          width: 20px;
          height: 20px;

        }
      }
      .quantity{
        display: flex;
        gap: 10px;
        grid-column: 7/9;
        font-size: 2em;
        .more,.meno{
          width: 40px;
          height: 100%;
          cursor: pointer;
          border: 1px solid black;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2em;
          position: relative;
          overflow: hidden;
            span{
              position: absolute;
              top: calc(50% - 1px);
              left: calc(50% - 45%);
              width: 90% ;
              height: 2px;
              display: inline-block;
              background-color: black;

            }
        }
        .more{
          background-color: rgba(104, 191, 76, 0.48);
          span{
            &:last-child{
              transform: rotate(90deg);
            }
          }
        }
        .meno{
          background-color: rgba(213, 33, 46, 0.48);

        }

      }
      .price{
        grid-column-start: 9;
      }
      .removeItem{
        grid-column-start: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor:pointer;
        span {
          width: 40px;
          height: 40px;
          border: 1px solid black;
          border-radius: 50%;
          position: relative;
          transition: 0.5s ease-in-out;
          span{
            width: 16px;
            height: 2px;
            background-color: black;
            position: absolute;
            top: calc(50% - 1px);
            left: calc(50% - 8px);
            &:first-child{
              transform: rotate(45deg);
            }
            &:last-child{
              transform: rotate(-45deg);
            }
          }
        }
        &:hover{
          span{
            background-color: red;
          }
        }
      }
    }
    .total{
      //outline: 1px solid red;
      margin-top: 20px;
      color:black;
      font-size: 2em;
      padding: 15px;
      display: flex;
      justify-content: flex-end;
      span{
        //font-size: 2.1em;
        font-weight: 900  ;
        margin-left: 10px;
      }
    }
  }
}





@import './BagMedia.module';