@import '../../../util/colors';
.wrapperBag{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.63);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  .bag{
    background-color: #fff;
    width: 80%;
    height: 80%;
    padding: 10px 20px;
    overflow-y: scroll;
    .wrapperClose{
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;
      .blockClose{
        width: 40px;
        height: 40px;
        //outline: 1px solid red;
        position: relative;
        cursor: pointer;
        span{
          top: calc(50% - 2px);
          left: 0;
          position: absolute;
          display: inline-block;
          width: 40px;
          height: 4px;
          background-color: black;
          border-radius: 10px;
          transition: 0.5s ease-in-out;
          &:first-child{
            transform: rotate(45deg);
          }
          &:last-child{
            transform: rotate(-45deg);

          }
        }
        &:hover{
          span{

            &:first-child{
              transform: rotate(55deg);
            }
            &:last-child{
              transform: rotate(-55deg);

            }
          }
        }
      }
    }
    .wrapperItem{
      //display: flex;
      //justify-content: space-between;
      //align-items: center;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      column-gap: 5px;
      color:black;
      padding: 20px;
      box-shadow: 1px 1px 5px black;
      margin-bottom: 10px;

      .imgItem{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        grid-column-start: 1;
          img{
            width: 100%;
          }
      }
      .titleItem{
        font-size: 1em;
        grid-column: 2/6;
      }
      .itemColor{
        display: flex;
        flex-direction: column;
        grid-column-start: 6;
        .blockColor{
          width: 20px;
          height: 20px;

        }
      }
      .quantity{
        display: flex;
        gap: 10px;
        grid-column: 7/9;
        .more,.meno{
          width: 20px;
          height: 20px;
          cursor: pointer;
          border: 1px solid black;
          display: flex;
          align-items: center;
          justify-content: center;

        }
      }
      .price{
        grid-column-start: 9;
      }
      .removeItem{
        grid-column-start: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor:pointer;
        span {
          width: 20px;
          height: 20px;
          border: 1px solid black;
          border-radius: 50%;
          position: relative;
          transition: 0.5s ease-in-out;
          span{
            width: 16px;
            height: 2px;
            background-color: black;
            position: absolute;
            top: calc(50% - 1px);
            left: calc(50% - 8px);
            &:first-child{
              transform: rotate(45deg);
            }
            &:last-child{
              transform: rotate(-45deg);
            }
          }
        }
        &:hover{
          span{
            background-color: red;
          }
        }
      }
    }
  }
}





@import './BagMedia.module';