/*media qury*/
@media (max-width: 1320px) {
  .wrapperHeaderSlider {
    .itemCart {
      width: 250px;
    }
  }
}
@media (max-width: 1200px) {
  body {
    font-size: 14px ;
    .wrapperHeaderSlider.itemCart {
      width: 200px;
    }
  }
}

@media (max-width: 992px){
  nav {
    menu {
      flex-direction: column;
      position: relative ;
      .burger {
        // margin-bottom: 20px;
        }
    }
    ul {
      display: none;
      position: absolute;
      top: 35px;
      left: 0;
      flex-direction: column;
      align-items: flex-start ;
      li {
        margin-bottom: 10px;

      }
    }
    .burger.active~ul {
      display: block;
    }
  }
  .colorCheng {
    left: -14dvw;
  }
  .blockItem {
    flex-direction: column;
    .blockImg {
      margin-bottom: 40px;
    }
     //.flash {
     //  left: -17dvh;
     //  width: 107dvw;
     //}
    }

  .headerSlider {
    flex-direction: column;
    .wraperPrevNext {
      justify-content: center;
    }
  }

}



@media (max-width: 768px){
  .blockItem {
    .blockDesc {
      .name {
        font-size: 32px;
      }
    }
  }
  .wrapSvg {
    svg {
      width: 100%;
    }
  }
  .flash {
    // width: 107dvw;
    .flashBlack,.flash {
      font-size: 16px
    }
  }



}


@media (max-width: 576px) {
  header {
    .wrapperSvgBg {
      span.text {
        font-size: 100px;
      }
    }
  }
}


@media (max-width: 480px){
  header {
    nav {
      .wrapper {
        div {
          margin-right: 10px;
        }
      }
    }

    .wrapperSvgBg {
      span.text {
        font-size: 80px;
      }
    }

  }
  .blockItem {
    .blockDesc {
      .name {
        font-size: 22px;
      }
    }
  }

  .wrap.slick-slide.slick-current.slick-active {
    display: flex;
    justify-content: center;
    // margin-right: 2px;
  }

  .btnSmol.btn {
    margin-left: auto;
  }

  .popup {
    .wrapper {
      margin: 0;
      .details {
        padding: 20px;
      }
      p {
        margin-bottom: 20px;
      }
      .textDescription {
        max-height: 114px;
        // outline: 1px solid red;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

}


@media (max-width: 420px){
  body {
    font-size: 14px;
  }
  .blockItem {
    .blockDesc {
      margin-left: auto;
    }
  }
}