

.block11 {
  padding-top: 55px;
  padding-bottom: 55px;
  display: flex;
  justify-content: space-between;
  .wrapItem {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      margin-right: 16px;
    }
    .blockText {
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      .textHeader {
        font-family: Futura Hv BT,sans-serif;
        margin-bottom: 8px;
      }
      .textBottom {
        font-family: Futura Bk BT,sans-serif;
      }
    }
  }
}



@import "./Block11Media.module";