
@media screen and (max-width: 992px) {
  .block11 {
    flex-wrap: wrap;
    row-gap: 50px ;
    .wrapItem {
      width: 50%;
      justify-content: flex-start;
    }
  }
}

@media screen and (max-width: 480px) {
  .block11 {
    .wrapItem {
      width: 100%;
      justify-content: center;
    }
  }
}